<template>
  <v-container>
    <v-card>
      <v-form v-model="valid" @submit.prevent="getStuff">
        <v-container>
          <v-row>
            <v-col
                    cols="12"
                    md="3"
            >
              <v-text-field
                      v-model="username"
                      :rules="nameRules"
                      label="Last.fm Username"
                      required
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="3">
              <v-select :items="modeOptions" label="Mode" v-model="mode"></v-select>
            </v-col>
            <v-col cols="12" md="3">
              <v-select :items="periodOptions" label="Period" v-model="period"></v-select>
            </v-col>
            <v-col cols="12" md="1">
              <v-btn color="primary" type="submit" :disabled="!valid || progressState.loading">Go!</v-btn>
            </v-col>
          </v-row>
          <v-row v-if="progressState.loading">
            <v-col cols="12">
            <v-progress-linear
                    :value="progressState.progress * 100"
                    height="30"
            >
              <strong>{{ progressState.currentStep }}</strong>
            </v-progress-linear>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-card>
    <results-table v-if="results" :results="results"></results-table>
  </v-container>
</template>

<script lang="ts">
  import Vue from "vue";
  import lastfmApi, {LastFMPeriod} from "@/api/lastfmApi";
  import {Component} from 'vue-property-decorator'
  import resultCalc from "@/helper/resultCalc";
  import Mode from "@/model/mode";
  import LastFMResult from "@/model/result";
  import ResultsTable from "@/components/ResultsTable.vue";
  import ProgressStore from "@/stores/ProgressStore";

  @Component({
    components: {ResultsTable}
  })
  export default class MainPage extends Vue {

    results: LastFMResult[] | null = null
    progressState = ProgressStore.state;

    getStuff(): void {
      this.results = [];
      lastfmApi.getAllPages(this.username, this.period).then(r => {
        this.results = resultCalc.calculateResults(r, this.mode);
      });
    }

    nameRules = [
      (v: string) => !!v || 'Name is required'
    ]

    modeOptions = [
      { value: Mode.track, text: "Tracks" },
      { value: Mode.artist, text: "Artists" },
    ]
    mode = Mode.artist
    periodOptions = [
      { value: LastFMPeriod.sevenDay, text: "7 days"},
      { value: LastFMPeriod.oneMonth, text: "1 month"},
      { value: LastFMPeriod.threeMonths, text: "3 months"},
      { value: LastFMPeriod.sixMonths, text: "6 months"},
      { value: LastFMPeriod.twelveMonths, text: "12 months"},
      { value: LastFMPeriod.overall, text: "All time"},
    ]
    period = LastFMPeriod.sevenDay
    username = ""

    valid = false;
  }
</script>
