<template>
    <v-data-table
            v-if="results"
            :headers="headers"
            :items="results"
            :items-per-page="10"
            class="elevation-1"
    ></v-data-table>
</template>

<script lang="ts">
    import {Component, Prop} from 'vue-property-decorator'
    import Vue from "vue";
    import LastFMResult from "@/model/result";

    @Component
    export default class ResultsTable extends Vue {
        @Prop({default: []})
        results!: LastFMResult[];

        headers = [
            { text: 'Rank', value: 'rank' },
            { text: 'Name', value: 'displayName' },
            { text: 'Playtime', value: 'formattedPlaytime'},
            { text: 'Playcount', value: 'playcount'},
            { text: 'Average track length', value: 'average'},
        ]
    }
</script>

<style scoped>

</style>
