<template>
  <v-app>
    <v-content>
      <v-app-bar
              color="primary accent-4"
              dark
      >
        <v-app-bar-nav-icon></v-app-bar-nav-icon>

        <v-toolbar-title>Last.FM Timer 2</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-switch append-icon="mdi-invert-colors" color="white" hide-details v-model="darkMode"></v-switch>
      </v-app-bar>
      <main-page />
      <v-footer
              class="font-weight-medium"
      >
        <v-col
                class="text-center"
                cols="12"
        >
          <p>Created by <a href="https://bitbucket.org/fleshgolem/">fleshgolem</a>.
            Based on the original <a href="https://pmcdonough8133.github.io/last.timer/">Last.fm Time Charts</a> by IAmtheBlackMetal</p>
          <p class="font-weight-regular body-2">Playtime is calculated from last.fm's track duration, which is notoriously erroneous and incomplete.
            To improve calculations make sure your music is tagged as well possible and add missing metadata to Musicbrainz</p>
        </v-col>
      </v-footer>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import MainPage from "./components/MainPage.vue";
import {Component} from "vue-property-decorator";
import ResultsTable from "@/components/ResultsTable.vue";
import Settings from "@/helper/settings";

@Component({
  components: {MainPage}
})
export default class App extends Vue {

  get darkMode() {
    return Settings.darkMode
  }

  set darkMode(val: boolean) {
    Settings.darkMode = val;
    this.$vuetify.theme.dark = val
  }
}
</script>

<style>
  .v-app-bar__nav-icon {
    display: none;
  }
</style>
